<div class="main">
  <div class="profile-area">
    <div class="author-profile_image">
      <%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no-image-icon.jpg",size: "110x110" %>
    </div>
    <h3 class="user-name">
      <%= @user.name%>
    </h3>
    <p class="user-introduction">
      <%= @user.introduction %>
    </p>
  </div>
  <%=link_to edit_user_path(@user.id) do %>
    <div class="edit-icon">
      <i class="fas fa-cog"></i>
    </div>
  <% end %>
</div>

<%= link_to "フォロワー",user_followers_path(@user.id) %>
<%= link_to "フォロー中",user_followings_path(@user.id) %>


<% unless current_user == @user %>
  <% if Relation.find_by(followed_id: @user.id) %>
    <%= link_to "フォローをやめる",user_relation_path(@user.id),method: :delete %>
  <% else %>
    <%= link_to "フォローする",user_relation_path(@user.id),method: :post %>
  <% end %>
<% end %>


<%= link_to "新規投稿",new_post_path %>
<%= link_to "グループ作成",new_group_path %>
<%= link_to "グループ一覧",groups_path %>

