<h1><%= @group.name %>のチャットルーム</h1>
<% @group_chats.each do |group_chat| %>
  <table>
    <tr>
      <td>
        <%= attachment_image_tag group_chat.user,:profile_image,size: "20x20" %>
        <%= group_chat.user.name %>
        <%= attachment_image_tag group_chat,:image,size: "50x50" %>
        <%= group_chat.comment %>
      </td>
    </tr>
  </table>
<% end %>


<div id="chat_area">
  <%= render "form",group_chat: @group_chat %>
</div>