<%= search_form_for @q do |f| %>
  <h4>キーワード検索</h4>
  <%= f.search_field :caption_cont %>
  <%= f.submit "検索" %>
<% end %>


<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <%= attachment_image_tag post,:post_image,size: "100x100" %>
  <%= attachment_image_tag post.user,:profile_image,size: "50x50" %>
  <h3>投稿ユーザー</h3>
  <%= post.user.name %>
  <%= post.caption %>

  <% if post.user == current_user %>
    <%= link_to "投稿編集",edit_post_path(post.id) %>
    <%= link_to "投稿削除",post_path(post.id),method: :delete %>
  <% end %>

  <div id= "favorite_btn_<%= post.id %>" >
    <%= render "favorites/favorite" ,post: post %>
  </div>

  <%= link_to post_path(post.id) do %>
    <h4>コメントする</h4>
  <% end %>
  <p>コメント数<%= post.post_comments.count %>件</p>

<% end %>

<%= link_to "新規投稿",new_post_path %>



