<div class="header">
  <nav class="header-nav">
    <ul>
      <li class="header-logo">
        <%= link_to root_path do %>
          <%= image_tag "horizontal_on_white_by_logaster.png",size: "120x68" %>
        <% end %>
      </li>
    <% if user_signed_in? %>
      <li class="nav"><%= link_to "マイページ",user_path(current_user) %></li>
      <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
    <% else %>
      <li class="nav"><%= link_to "会員登録",new_user_registration_path %></li>
      <li><%= link_to "ログイン",new_user_session_path %></li>
    <% end %>
    </ul>
  </nav>
</div>